In [1]:
import pandas as pd

In [2]:
#create the file path for our data sets
schoolDataLoad = 'resources/schools_complete.csv'
studentDataLoad = 'resources/students_complete.csv'

In [3]:
#read in our data sets
schoolDataDf = pd.read_csv(schoolDataLoad)
studentDataDf = pd.read_csv(studentDataLoad)

In [4]:
#display first 5 rows of the school data
schoolDataDf.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#display first 5 rows of the student data
studentDataDf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#counting how many pieces of data are in each column
studentDataDf.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
#determine if there are any invalid/missing values in our school data
schoolDataDf.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [8]:
#determine if there are any invalid/missing values in our student data
studentDataDf.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [9]:
#observe data types in student data df
studentDataDf.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [10]:
#observe data types in school data df
schoolDataDf.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [11]:
#create list of prefixes and suffixes found in student data
preAndSuf = ['Dr. ','Mr. ','Mrs. ','Ms. ','Miss ',' MD', ' DDS',' DVM',' PhD']

In [12]:
#clean data of needless suffix/prefixes
for word in preAndSuf:
    studentDataDf['student_name']=studentDataDf['student_name'].str.replace(word,'')
studentDataDf.head(10)

/var/folders/6k/nzb_jl_s5yd2ts7v2p03nsz00000gn/T/ipykernel_33741/1454953144.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  studentDataDf['student_name']=studentDataDf['student_name'].str.replace(word,'')

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [13]:
#combine student and school data on school name column
schoolDataComplete = pd.merge(studentDataDf,schoolDataDf, on =['school_name','school_name'])
schoolDataComplete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [14]:
#total rows in the complete data frame
rowCount = schoolDataComplete.count()
rowCount

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [15]:
#total number of students
studentCount = schoolDataComplete['Student ID'].count()
studentCount

39170

In [16]:
#total number of schools in complete data set
schoolCount= len(schoolDataComplete['school_name'].unique())
schoolCount

15

In [17]:
#total budget
totalBudget = schoolDataDf['budget'].sum()
totalBudget

24649428

In [18]:
avgDistrictReading = schoolDataComplete['reading_score'].mean()
avgDistrictReading

81.87784018381414

In [19]:
avgDistrictMath = schoolDataComplete['math_score'].mean()
avgDistrictMath

78.98537145774827

In [20]:
#determine passing scores
passingMathScore = schoolDataComplete['math_score'] >=70
passingReadingScore = schoolDataComplete['reading_score'] >=70

In [21]:
#df with passing math students
passingMath = schoolDataComplete[passingMathScore]
passingMath.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [22]:
#df with passing reading students
passingReading = schoolDataComplete[passingReadingScore]
passingReading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [23]:
#total number of students passing math
mathPassCount = passingMath['Student ID'].count()
mathPassCount

29370

In [24]:
#total number of students passing reading
readingPassCount = passingReading['Student ID'].count()
readingPassCount

33610

In [25]:
mathPassPercent = (mathPassCount / schoolDataComplete['Student ID'].count()) * 100
mathPassPercent

74.9808526933878

In [26]:
readingPassPercent = (readingPassCount / schoolDataComplete['Student ID'].count()) *100
readingPassPercent

85.80546336482001

In [27]:
passingMathReading = schoolDataComplete[(passingReadingScore) & (passingMathScore)]
passingMathReading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [28]:
countPassBoth = passingMathReading['Student ID'].count()
countPassBoth

25528

In [29]:
percentPassBoth = (countPassBoth / schoolDataComplete['Student ID'].count()) * 100
percentPassBoth

65.17232575950983

In [37]:
districtSummary=[{'Total Schools':schoolCount,
                  'Total Students':studentCount,
                  "Total Budget":totalBudget,
                  'Average Math Score':avgDistrictMath,
                  'Average Reading Score':avgDistrictReading,
                  '% Passing Math':mathPassPercent,
                  '% Passing Reading':readingPassPercent,
                  'Overall Passing Percent':percentPassBoth}]
districtSummaryDf = pd.DataFrame(districtSummary)
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [38]:
def passingMathPercentFunc(passMathCount, studentCount):
    return (passMathCount / studentCount) *100
passingMathPercentFunc(mathPassCount,studentCount)

74.9808526933878

In [39]:
def passingReadingPercentFunc (passReadingCount, studentCount):
    return (passReadingCount / studentCount) *100
passingReadingPercentFunc(readingPassCount, studentCount)

85.80546336482001

In [40]:
districtSummaryDf['Total Students'] = districtSummaryDf['Total Students'].map('{:,}'.format)
districtSummaryDf['Total Students']

0    39,170
Name: Total Students, dtype: object

In [41]:
districtSummaryDf['Total Budget'] = districtSummaryDf['Total Budget'].map('${:,.2f}'.format)
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [42]:
#format summary data frame
districtSummaryDf['Average Reading Score'] = districtSummaryDf ['Average Reading Score'].map('{:,.1f}'.format)
districtSummaryDf['Average Math Score'] = districtSummaryDf['Average Math Score'].map('{:,.1f}'.format)
districtSummaryDf['% Passing Reading'] = districtSummaryDf ['% Passing Reading'].map('{:,.0f}'.format)
districtSummaryDf['% Passing Math'] = districtSummaryDf['% Passing Math'].map('{:,.0f}'.format)
districtSummaryDf['Overall Passing Percent'] = districtSummaryDf['Overall Passing Percent'].map('{:,.0f}'.format)

districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [ ]:
newColumnOrder = ['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score', '% Passing Math','% Passing Reading','Overall Passing Percent'
                 ]        
districtSummaryDf = districtSummaryDf[]