In [1]:
import pandas as pd

In [2]:
#create the file path for our data sets
schoolDataLoad = 'resources/schools_complete.csv'
studentDataLoad = 'resources/students_complete.csv'

In [3]:
#read in our data sets
schoolDataDf = pd.read_csv(schoolDataLoad)
studentDataDf = pd.read_csv(studentDataLoad)

In [4]:
#display first 5 rows of the school data
schoolDataDf.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#display first 5 rows of the student data
studentDataDf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#counting how many pieces of data are in each column
studentDataDf.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
#determine if there are any invalid/missing values in our school data
schoolDataDf.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [8]:
#determine if there are any invalid/missing values in our student data
studentDataDf.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [9]:
#observe data types in student data df
studentDataDf.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [10]:
#observe data types in school data df
schoolDataDf.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [11]:
#create list of prefixes and suffixes found in student data
preAndSuf = ['Dr. ','Mr. ','Mrs. ','Ms. ','Miss ',' MD', ' DDS',' DVM',' PhD']

In [12]:
#clean data of needless suffix/prefixes
for word in preAndSuf:
    studentDataDf['student_name']=studentDataDf['student_name'].str.replace(word,'')
studentDataDf.head(10)

/var/folders/6k/nzb_jl_s5yd2ts7v2p03nsz00000gn/T/ipykernel_35382/1454953144.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  studentDataDf['student_name']=studentDataDf['student_name'].str.replace(word,'')

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [13]:
#combine student and school data on school name column
schoolDataComplete = pd.merge(studentDataDf,schoolDataDf, on =['school_name','school_name'])
schoolDataComplete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [14]:
#total rows in the complete data frame
rowCount = schoolDataComplete.count()
rowCount

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [15]:
#total number of students
studentCount = schoolDataComplete['Student ID'].count()
studentCount

39170

In [16]:
#total number of schools in complete data set
schoolCount= len(schoolDataComplete['school_name'].unique())
schoolCount

15

In [17]:
#total budget
totalBudget = schoolDataDf['budget'].sum()
totalBudget

24649428

In [18]:
avgDistrictReading = schoolDataComplete['reading_score'].mean()
avgDistrictReading

81.87784018381414

In [19]:
avgDistrictMath = schoolDataComplete['math_score'].mean()
avgDistrictMath

78.98537145774827

In [20]:
#determine passing scores
passingMathScore = schoolDataComplete['math_score'] >=70
passingReadingScore = schoolDataComplete['reading_score'] >=70

In [21]:
#df with passing math students
passingMath = schoolDataComplete[passingMathScore]
passingMath.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [22]:
#df with passing reading students
passingReading = schoolDataComplete[passingReadingScore]
passingReading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [23]:
#total number of students passing math
mathPassCount = passingMath['Student ID'].count()
mathPassCount

29370

In [24]:
#total number of students passing reading
readingPassCount = passingReading['Student ID'].count()
readingPassCount

33610

In [25]:
mathPassPercent = (mathPassCount / schoolDataComplete['Student ID'].count()) * 100
mathPassPercent

74.9808526933878

In [26]:
readingPassPercent = (readingPassCount / schoolDataComplete['Student ID'].count()) *100
readingPassPercent

85.80546336482001

In [27]:
passingMathReading = schoolDataComplete[(passingReadingScore) & (passingMathScore)]
passingMathReading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [28]:
countPassBoth = passingMathReading['Student ID'].count()
countPassBoth

25528

In [29]:
percentPassBoth = (countPassBoth / schoolDataComplete['Student ID'].count()) * 100
percentPassBoth

65.17232575950983

In [30]:
districtSummary=[{'Total Schools':schoolCount,
                  'Total Students':studentCount,
                  "Total Budget":totalBudget,
                  'Average Math Score':avgDistrictMath,
                  'Average Reading Score':avgDistrictReading,
                  '% Passing Math':mathPassPercent,
                  '% Passing Reading':readingPassPercent,
                  'Overall Passing Percent':percentPassBoth}]
districtSummaryDf = pd.DataFrame(districtSummary)
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [31]:
def passingMathPercentFunc(passMathCount, studentCount):
    return (passMathCount / studentCount) *100
passingMathPercentFunc(mathPassCount,studentCount)

74.9808526933878

In [32]:
def passingReadingPercentFunc (passReadingCount, studentCount):
    return (passReadingCount / studentCount) *100
passingReadingPercentFunc(readingPassCount, studentCount)

85.80546336482001

In [33]:
districtSummaryDf['Total Students'] = districtSummaryDf['Total Students'].map('{:,}'.format)
districtSummaryDf['Total Students']

0    39,170
Name: Total Students, dtype: object

In [34]:
districtSummaryDf['Total Budget'] = districtSummaryDf['Total Budget'].map('${:,.2f}'.format)
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [35]:
#format summary data frame
districtSummaryDf['Average Reading Score'] = districtSummaryDf ['Average Reading Score'].map('{:,.1f}'.format)
districtSummaryDf['Average Math Score'] = districtSummaryDf['Average Math Score'].map('{:,.1f}'.format)
districtSummaryDf['% Passing Reading'] = districtSummaryDf ['% Passing Reading'].map('{:,.0f}'.format)
districtSummaryDf['% Passing Math'] = districtSummaryDf['% Passing Math'].map('{:,.0f}'.format)
districtSummaryDf['Overall Passing Percent'] = districtSummaryDf['Overall Passing Percent'].map('{:,.0f}'.format)

districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [36]:
#re order columns for client
newColumnOrder = ['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score', '% Passing Math','% Passing Reading','Overall Passing Percent'
                 ]        
districtSummaryDf = districtSummaryDf[newColumnOrder]
districtSummaryDf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Percent
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [37]:
#determine school type
perSchoolType = schoolDataDf.set_index(['school_name'])['type']
perSchoolType

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [38]:
#convert to data frame
perSchoolTypeDf = pd.DataFrame(perSchoolType)
perSchoolTypeDf

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [39]:
perSchoolCounts = schoolDataDf.set_index(['school_name'])['size']
perSchoolCounts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [40]:
perSchoolCounts2 = schoolDataComplete['school_name'].value_counts()
perSchoolCounts2

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [41]:
perSchoolTypeDf['Total Students']=perSchoolCounts2
perSchoolTypeDf

                           type  Total Students
school_name
Huang High School      District            2917
Figueroa High School   District            2949
Shelton High School     Charter            1761
Hernandez High School  District            4635
Griffin High School     Charter            1468
Wilson High School      Charter            2283
Cabrera High School     Charter            1858
Bailey High School     District            4976
Holden High School      Charter             427
Pena High School        Charter             962
Wright High School      Charter            1800
Rodriguez High School  District            3999
Johnson High School    District            4761
Ford High School       District            2739
Thomas High School      Charter            1635

In [42]:
perSchoolBudget = schoolDataDf.set_index(['school_name'])['budget']
perSchoolBudget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [43]:
perStudentBudget = perSchoolBudget / perSchoolTypeDf['Total Students']
perSchoolTypeDf['budget per student'] = perStudentBudget
perSchoolTypeDf

                           type  Total Students  budget per student
school_name
Huang High School      District            2917               655.0
Figueroa High School   District            2949               639.0
Shelton High School     Charter            1761               600.0
Hernandez High School  District            4635               652.0
Griffin High School     Charter            1468               625.0
Wilson High School      Charter            2283               578.0
Cabrera High School     Charter            1858               582.0
Bailey High School     District            4976               628.0
Holden High School      Charter             427               581.0
Pena High School        Charter             962               609.0
Wright High School      Charter            1800               583.0
Rodriguez High School  District            3999               637.0
Johnson High School    District            4761               650.0
Ford High School       District            2739               644.0
Thomas High School      Charter            1635               638.0

In [44]:
perSchoolAverages = schoolDataComplete.groupby(['school_name']).mean()
perSchoolAverages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [45]:
#calculate average test scores
perSchoolMath = schoolDataComplete.groupby(['school_name']).mean()['math_score']
perSchoolReading = schoolDataComplete.groupby(['school_name']).mean()['reading_score']

In [46]:
perSchoolTypeDf['Average Math']=perSchoolMath
perSchoolTypeDf['Average Reading']=perSchoolReading
perSchoolTypeDf

,type,Total Students,budget per student,Average Math,Average Reading
school_name,,,,,
Huang High School,District,2917,655.0,76.629414,81.182722
Figueroa High School,District,2949,639.0,76.711767,81.158020
Shelton High School,Charter,1761,600.0,83.359455,83.725724
Hernandez High School,District,4635,652.0,77.289752,80.934412
Griffin High School,Charter,1468,625.0,83.351499,83.816757
Wilson High School,Charter,2283,578.0,83.274201,83.989488
Cabrera High School,Charter,1858,582.0,83.061895,83.975780
Bailey High School,District,4976,628.0,77.048432,81.033963
Holden High School,Charter,427,581.0,83.803279,83.814988
Pena High School,Charter,962,609.0,83.839917,84.044699
Wright High School,Charter,1800,583.0,83.682222,83.955000
Rodriguez High School,District,3999,637.0,76.842711,80.744686
Johnson High School,District,4761,650.0,77.072464,80.966394
Ford High School,District,2739,644.0,77.102592,80.746258
Thomas High School,Charter,1635,638.0,83.418349,83.848930

In [47]:
#Count passing math per school
perSchoolPassingMath = passingMath.groupby(['school_name']).count()['student_name']
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [48]:
#count passing reading per school
perSchoolPassingReading = passingReading.groupby(['school_name']).count()['student_name']
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [49]:
#determine passing math percentages per school
perSchoolPassingMathPercent = perSchoolPassingMath / perSchoolTypeDf['Total Students'] *100
perSchoolPassingMathPercent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [50]:
#determine passing reading percentages per school
perSchoolPassingReading = perSchoolPassingReading / perSchoolTypeDf['Total Students'] *100
perSchoolPassingReading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [51]:
#determine overall number of students who passed both math and reading
overallPass = passingMathReading.groupby(['school_name']).count()['student_name']
overallPass

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [52]:
#determine overall passing percentages
overallPassPercent = overallPass / perSchoolTypeDf['Total Students'] *100
overallPassPercent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [53]:
#set total budget
perSchoolTotalBudget = schoolDataDf.set_index(['school_name'])['budget']
perSchoolTotalBudget
perSchoolTypeDf['Total Budget'] = perSchoolTotalBudget
perSchoolTypeDf

,type,Total Students,budget per student,Average Math,Average Reading,Total Budget
school_name,,,,,,
Huang High School,District,2917,655.0,76.629414,81.182722,1910635
Figueroa High School,District,2949,639.0,76.711767,81.158020,1884411
Shelton High School,Charter,1761,600.0,83.359455,83.725724,1056600
Hernandez High School,District,4635,652.0,77.289752,80.934412,3022020
Griffin High School,Charter,1468,625.0,83.351499,83.816757,917500
Wilson High School,Charter,2283,578.0,83.274201,83.989488,1319574
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,1081356
Bailey High School,District,4976,628.0,77.048432,81.033963,3124928
Holden High School,Charter,427,581.0,83.803279,83.814988,248087
Pena High School,Charter,962,609.0,83.839917,84.044699,585858
Wright High School,Charter,1800,583.0,83.682222,83.955000,1049400
Rodriguez High School,District,3999,637.0,76.842711,80.744686,2547363
Johnson High School,District,4761,650.0,77.072464,80.966394,3094650
Ford High School,District,2739,644.0,77.102592,80.746258,1763916
Thomas High School,Charter,1635,638.0,83.418349,83.848930,1043130

In [54]:
#add columns to DF
perSchoolTypeDf['% Passing Math'] = perSchoolPassingMathPercent
perSchoolTypeDf['% Passing Reading'] = perSchoolPassingReading
perSchoolTypeDf['% Overall Passing'] = overallPassPercent
dfColumnList = ['type','Total Students','Total Budget','budget per student','Average Math','Average Reading','% Passing Math','% Passing Reading','% Overall Passing']
perSchoolTypeDf = perSchoolTypeDf[dfColumnList]
perSchoolTypeDf

,type,Total Students,Total Budget,budget per student,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [55]:
#formatting columns
#perSchoolTypeDf['Total Students']=perSchoolTypeDf['Total Students'].map('{:,.0f}'.format)
perSchoolTypeDf['Total Budget']=perSchoolTypeDf['Total Budget'].map('${:,.0f}'.format)
perSchoolTypeDf['budget per student']=perSchoolTypeDf['budget per student'].map('${:,.2f}'.format)

perSchoolTypeDf

,type,Total Students,Total Budget,budget per student,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,"$3,124,928",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012

In [56]:
#top 5 performing schools
topSchools = perSchoolTypeDf.sort_values(['% Overall Passing'], ascending=False)
topSchools.head()

,type,Total Students,Total Budget,budget per student,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [57]:
#bottom 5 performing schools
lowestSchools = perSchoolTypeDf.sort_values(['% Overall Passing'], ascending =True)
lowestSchools.head()

,type,Total Students,Total Budget,budget per student,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [58]:
#9th grade List
ninthGraders = schoolDataComplete['grade'] == '9th'
ninthGradeList = schoolDataComplete[ninthGraders]
ninthGradeList

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [59]:
tenthGraders = schoolDataComplete['grade'] == '10th'
tenthGradeList = schoolDataComplete[tenthGraders]
tenthGradeList

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130

In [60]:
eleventhGraders = schoolDataComplete['grade'] == '11th'
eleventhGradeList = schoolDataComplete[eleventhGraders]
eleventhGradeList

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
15,15,Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [61]:
seniors = schoolDataComplete['grade'] == '12th'
seniorList = schoolDataComplete[seniors]
seniorList

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39137,39137,Victoria Bailey,F,12th,Thomas High School,75,70,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130

In [62]:
#grade level math and reading scores
ninthGradeMath = ninthGradeList.groupby('school_name').mean()['math_score']
ninthGradeReading = ninthGradeList.groupby('school_name').mean()['reading_score']
tenthGradeMath = tenthGradeList.groupby('school_name').mean()['math_score']
tenthGradeReading = tenthGradeList.groupby('school_name').mean()['reading_score']
eleventhGradeMath = eleventhGradeList.groupby('school_name').mean()['math_score']
eleventhGradeReading = eleventhGradeList.groupby('school_name').mean()['reading_score']
seniorMath = seniorList.groupby('school_name').mean()['math_score']
seniorReading = seniorList.groupby('school_name').mean()['reading_score']
seniorReading

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [63]:
#creating a math scores data frame
mathScoresByGrade = pd.DataFrame({
    '9th':ninthGradeMath,
    '10th':tenthGradeMath,
    '11th':eleventhGradeMath,
    '12th':seniorMath
})
mathScoresByGrade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [64]:
#creating a reading scores data frame
readingScoresByGrade = pd.DataFrame({
    '9th':ninthGradeReading,
    '10th':tenthGradeReading,
    '11th':eleventhGradeReading,
    '12th':seniorReading
})
readingScoresByGrade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [65]:
#Formatting math scores
mathScoresByGrade['9th'] = mathScoresByGrade['9th'].map("{:,.1f}".format)
mathScoresByGrade['10th'] = mathScoresByGrade['10th'].map("{:,.1f}".format)
mathScoresByGrade['11th'] = mathScoresByGrade['11th'].map("{:,.1f}".format)
mathScoresByGrade['12th'] = mathScoresByGrade['12th'].map("{:,.1f}".format)
mathScoresByGrade.index.name = None
mathScoresByGrade

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [66]:
#formatting reading scores
readingScoresByGrade['9th'] = readingScoresByGrade['9th'].map('{:,.1f}'.format)
readingScoresByGrade['10th'] = readingScoresByGrade['10th'].map('{:,.1f}'.format)
readingScoresByGrade['11th'] = readingScoresByGrade['11th'].map('{:,.1f}'.format)
readingScoresByGrade['12th'] = readingScoresByGrade['12th'].map('{:,.1f}'.format)

readingScoresByGrade.index.name = None
readingScoresByGrade

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

In [67]:
perStudentBudget.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [68]:
budgetBins = [0,585,630,645,675]
binNames = ['< $586','$586- 630','$631-645','$646-675']
perStudentBudget.groupby(pd.cut(perStudentBudget,budgetBins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [69]:
perSchoolTypeDf['Spending Ranges (Per Student)'] = pd.cut(perStudentBudget,budgetBins, labels=binNames)
perSchoolTypeDf

,type,Total Students,Total Budget,budget per student,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$646-675
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$631-645
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$586- 630
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$646-675
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$586- 630
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,< $586
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,< $586
Bailey High School,District,4976,"$3,124,928",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$586- 630
Holden High School,Charter,427,"$248,087",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,< $586
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$586- 630
Wright High School,Charter,1800,"$1,049,400",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,< $586
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$631-645
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$646-675
Ford High School,District,2739,"$1,763,916",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$631-645
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$631-645

In [70]:
#create series that depict average scores per spending range for required metrics
avgSpendMathScore = perSchoolTypeDf.groupby(['Spending Ranges (Per Student)']).mean()['Average Math']
avgSpendMathScore

Spending Ranges (Per Student)
< $586       83.455399
$586- 630    81.899826
$631-645     78.518855
$646-675     76.997210
Name: Average Math, dtype: float64

In [71]:
avgSpendReadingScore = perSchoolTypeDf.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading']
avgSpendReadingScore

Spending Ranges (Per Student)
< $586       83.933814
$586- 630    83.155286
$631-645     81.624473
$646-675     81.027843
Name: Average Reading, dtype: float64

In [72]:
avgSpendMathPass = perSchoolTypeDf.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']
avgSpendMathPass

Spending Ranges (Per Student)
< $586       93.460096
$586- 630    87.133538
$631-645     73.484209
$646-675     66.164813
Name: % Passing Math, dtype: float64

In [73]:
avgSpendReadingPass = perSchoolTypeDf.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']
avgSpendReadingPass

Spending Ranges (Per Student)
< $586       96.610877
$586- 630    92.718205
$631-645     84.391793
$646-675     81.133951
Name: % Passing Reading, dtype: float64

In [74]:
avgSpendOverallPass = perSchoolTypeDf.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']
avgSpendOverallPass

Spending Ranges (Per Student)
< $586       90.369459
$586- 630    81.418596
$631-645     62.857656
$646-675     53.526855
Name: % Overall Passing, dtype: float64

In [75]:
#creae new spending summary data frame
spendingSummaryDf = pd.DataFrame ({
    'Average Math Score': avgSpendMathScore,
    'Average Reading Score': avgSpendReadingScore,
    '% Passing Math': avgSpendMathPass,
    '% Passing Reading': avgSpendReadingPass,
    '% Overall Passing': avgSpendOverallPass
})
spendingSummaryDf.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
< $586,83.455399,83.933814,93.460096,96.610877,90.369459
$586- 630,81.899826,83.155286,87.133538,92.718205,81.418596
$631-645,78.518855,81.624473,73.484209,84.391793,62.857656
$646-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [76]:
#reformat all columns for readibility
spendingSummaryDf['Average Math Score']= spendingSummaryDf['Average Math Score'].map('{:.1f}'.format)
spendingSummaryDf['Average Reading Score']= spendingSummaryDf['Average Reading Score'].map('{:.1f}'.format)
spendingSummaryDf['% Passing Math']= spendingSummaryDf['% Passing Math'].map('{:.0f}'.format)
spendingSummaryDf['% Passing Reading']= spendingSummaryDf['% Passing Reading'].map('{:.0f}'.format)
spendingSummaryDf['% Overall Passing']= spendingSummaryDf['% Overall Passing'].map('{:.0f}'.format)

spendingSummaryDf

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
< $586,83.5,83.9,93,97,90
$586- 630,81.9,83.2,87,93,81
$631-645,78.5,81.6,73,84,63
$646-675,77.0,81.0,66,81,54

In [77]:
#create school size bins and labels
schoolBins = [0,999,1999,5000]
schoolGroups = ['Small (<1000)','Medium (1000-1999)','Large (2000-5000)']

In [78]:
#cut school data into bins
perSchoolTypeDf['School Size'] = pd.cut(perSchoolTypeDf['Total Students'], schoolBins, labels=schoolGroups)
perSchoolTypeDf

,type,Total Students,Total Budget,budget per student,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$646-675,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$631-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$586- 630,Medium (1000-1999)
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$646-675,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$586- 630,Medium (1000-1999)
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,< $586,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,< $586,Medium (1000-1999)
Bailey High School,District,4976,"$3,124,928",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$586- 630,Large (2000-5000)
Holden High School,Charter,427,"$248,087",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,< $586,Small (<1000)
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$586- 630,Small (<1000)
Wright High School,Charter,1800,"$1,049,400",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,< $586,Medium (1000-1999)
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$631-645,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$646-675,Large (2000-5000)
Ford High School,District,2739,"$1,763,916",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$631-645,Large (2000-5000)
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$631-645,Medium (1000-1999)

In [80]:
#Calculate summaries based on school size
schoolPopMathScores = perSchoolTypeDf.groupby(['School Size']).mean()['Average Math']
schoolPopReadingScores = perSchoolTypeDf.groupby(['School Size']).mean()['Average Reading']
schoolPopMathPass = perSchoolTypeDf.groupby(['School Size']).mean()['% Passing Math']
schoolPopReadingPass = perSchoolTypeDf.groupby(['School Size']).mean()['% Passing Reading']
schoolPopOverallPass = perSchoolTypeDf.groupby(['School Size']).mean()['% Overall Passing']

In [81]:
#Create Df for school population summary
schoolPopulationSummary = pd.DataFrame ({
    'Average Math':schoolPopMathScores,
    'Average Reading':schoolPopReadingScores,
    '% Passing Math':schoolPopMathPass,
    '% Passing Reading':schoolPopReadingPass,
    '% Overall Passing':schoolPopOverallPass
})
schoolPopulationSummary

,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-1999),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [82]:
#format each column
schoolPopulationSummary['Average Math'] = schoolPopulationSummary['Average Math'].map("{:.1f}".format)
schoolPopulationSummary['Average Reading'] = schoolPopulationSummary['Average Reading'].map("{:.1f}".format)
schoolPopulationSummary['% Passing Math'] = schoolPopulationSummary['% Passing Math'].map("{:.0f}".format)
schoolPopulationSummary['% Passing Reading'] = schoolPopulationSummary['% Passing Reading'].map("{:.0f}".format)
schoolPopulationSummary['% Overall Passing'] = schoolPopulationSummary['% Overall Passing'].map("{:.0f}".format)

schoolPopulationSummary

,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-1999),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58